<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">
 
    <select id="selectYearLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestinfo ri
        where left(ri.createDate, 2) = #{year};
    </select>
    
    <select id="selectMonthLoginUser" parameterType="string" resultType="hashMap">
        select count(userID) as totCnt
        from statistc.requestinfo ri
        where right(left(ri.createDate, 4),2) = #{month};
    </select>
    
    <select id="selectDateLoginUser" parameterType="string" resultType="hashMap">
        select count(userID) as totCnt
        from statistc.requestinfo ri
        where left(ri.createDate, 6) = #{date};
    </select>
    
    <select id="avgDayLogin" resultType="hashMap">
        select round(avg(cnt)) as totCnt
        from (select count(*) cnt, left(ri.createDate, 6) createDay from statistc.requestinfo ri group by createDay) temp;
    </select>
    
    <select id="selectDeptMonthLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestinfo ri, statistc.user u
        where ri.userID = u.userID and right(left(ri.createDate, 4),2) = #{month} and u.hr_organ = #{dept};
    </select>
</mapper>